<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QnaMapper">


	<select id="qnaList" resultType="gagu.dto.QnaDTO"
		parameterType="hashmap">
		select * from qna
		<!-- where title like '%' || #{seachval} || '%' or content like '%' || 
			#{seachval} || '%' -->
		<!-- <where> <if test="seachval == null"> title like '%'||#{seachval}||'%' 
			</if> <if test="seachval == null"> content like '%'||#{seachval}||'%' </if> 
			</where> -->
		<where>
			<if test="seachval == 'title'">
				title like '%'||#{seachval}||'%'
			</if>
			<if test="seachval == 'content'">
				content like '%' || #{seachval} || '%'
			</if>
		</where>
	</select>








	<select id="totalCount" resultType="int" parameterType="hashmap">
		select count(*)
		from qna
		<where>
			<if test="seachval !=null">
				title like '%'||#{seachval}||'%'
				or content like '%' || #{seachval} || '%'
			</if>
		</where>
	</select>
	
	<select id="selectAll" resultType="gagu.dto.QnaDTO"
		parameterType="hashmap">
		select *
		from qna
		<where>
			<!-- 검색어 값이 ??? 이면 실행 -->
			<if test="seachval !=null">
				title like '%'||#{seachval}||'%'
				or content like '%' || #{seachval} || '%'
			</if>
		</where>
	</select>






</mapper>